### Question 1 (5 marks)
**Import the dataset** and display the first 5 rows to understand the structure and columns.

In [1]:
import pandas as pd
import numpy as py

df = pd.read_csv("ecommerce_customer_data.csv")
df.head(5)

,Customer_ID,Age,Gender,Country,Marital_Status,Language_Preference,Signup_Source,Signup_Date,Last_Login,Total_Logins,...,Category_Tag_2,Category_Tag_3,Category_Tag_4,Category_Tag_5,Category_Tag_6,Category_Tag_7,Category_Tag_8,Category_Tag_9,Category_Tag_10,Total_Spend
0,CUST_100000,56,Male,Australia,Married,DE,Email,2019-04-06,2024-01-19,79,...,Tag_4,Tag_1,Tag_5,Tag_2,Tag_3,Tag_2,Tag_5,Tag_2,Tag_1,735.68
1,CUST_100001,69,Female,India,Single,ES,Ad Campaign,2022-11-14,2025-03-13,71,...,Tag_1,Tag_1,Tag_3,Tag_3,Tag_3,Tag_4,Tag_1,Tag_1,Tag_1,587.46
2,CUST_100002,46,Prefer Not to Say,USA,Divorced,DE,Email,2019-04-19,2024-05-24,67,...,Tag_4,Tag_2,Tag_1,Tag_4,Tag_1,Tag_6,Tag_4,Tag_2,Tag_1,892.71
3,CUST_100003,32,Male,Australia,Married,ZH,Email,2019-11-16,2024-03-05,80,...,Tag_5,Tag_2,Tag_6,Tag_2,Tag_3,Tag_2,Tag_1,Tag_3,Tag_5,420.90
4,CUST_100004,60,Male,USA,Widowed,ZH,Organic Search,2020-11-26,2023-12-06,75,...,Tag_2,NaN,Tag_2,NaN,Tag_1,Tag_4,Tag_2,Tag_4,Tag_4,419.52

### Question 2 (5 marks)
**Generate a summary** of the dataset using `.info()` and `.describe()`. Also report the total number of missing values per column.

In [7]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  5000 non-null   object
 1   Age                          5000 non-null   int64
 2   Gender                       5000 non-null   object
 3   Country                      5000 non-null   object
 4   Marital_Status               5000 non-null   object
 5   Language_Preference          5000 non-null   object
 6   Signup_Source                5000 non-null   object
 7   Signup_Date                  5000 non-null   object
 8   Last_Login                   5000 non-null   object
 9   Total_Logins                 5000 non-null   int64
 10  Time_Spent_Minutes           4700 non-null   float64
 11  Device_Type                  5000 non-null   object
 12  Preferred_Browser            5000 non-null   object
 13  Is_Active                    5000 non-null   bool
 14  Total_Orders                 5000 non-null   int64
 15  Average_Order_Value          4650 non-null   float64
 16  Payment_Method               5000 non-null   object
 17  Last_Purchase_Date           5000 non-null   object
 18  Has_Premium_Membership       5000 non-null   bool
 19  Abandoned_Carts              5000 non-null   int64
 20  Used_Discount_Code           3429 non-null   object
 21  Campaign_Engagement_Level    3440 non-null   object
 22  Support_Tickets_Raised       5000 non-null   int64
 23  Last_Support_Interaction     5000 non-null   object
 24  Customer_Satisfaction_Score  5000 non-null   float64
 25  Feedback_Comment_Length      5000 non-null   int64
 26  Submitted_Review             5000 non-null   bool
 27  Category_Tag_1               4700 non-null   object
 28  Category_Tag_2               4700 non-null   object
 29  Category_Tag_3               4700 non-null   object
 30  Category_Tag_4               4700 non-null   object
 31  Category_Tag_5               4700 non-null   object
 32  Category_Tag_6               5000 non-null   object
 33  Category_Tag_7               5000 non-null   object
 34  Category_Tag_8               5000 non-null   object
 35  Category_Tag_9               5000 non-null   object
 36  Category_Tag_10              5000 non-null   object
 37  Total_Spend                  4650 non-null   float64
dtypes: bool(3), float64(4), int64(6), object(25)
memory usage: 1.3+ MB

Customer_ID                       0
Age                               0
Gender                            0
Country                           0
Marital_Status                    0
Language_Preference               0
Signup_Source                     0
Signup_Date                       0
Last_Login                        0
Total_Logins                      0
Time_Spent_Minutes              300
Device_Type                       0
Preferred_Browser                 0
Is_Active                         0
Total_Orders                      0
Average_Order_Value             350
Payment_Method                    0
Last_Purchase_Date                0
Has_Premium_Membership            0
Abandoned_Carts                   0
Used_Discount_Code             1571
Campaign_Engagement_Level      1560
Support_Tickets_Raised            0
Last_Support_Interaction          0
Customer_Satisfaction_Score       0
Feedback_Comment_Length           0
Submitted_Review                  0
Category_Tag_1                  300
Category_Tag_2                  300
Category_Tag_3                  300
Category_Tag_4                  300
Category_Tag_5                  300
Category_Tag_6                    0
Category_Tag_7                    0
Category_Tag_8                    0
Category_Tag_9                    0
Category_Tag_10                   0
Total_Spend                     350
dtype: int64

In [8]:
# Show missing values with data types, sorted by data type then missing count
missing_info = df.isnull().sum()[df.isnull().sum() > 0].to_frame('Missing_Count')
missing_info['Data_Type'] = df.dtypes[missing_info.index]
missing_info = missing_info.sort_values(['Data_Type', 'Missing_Count'], ascending=[True, False])
print(missing_info)

                           Missing_Count Data_Type
Average_Order_Value                  350   float64
Total_Spend                          350   float64
Time_Spent_Minutes                   300   float64
Used_Discount_Code                  1571    object
Campaign_Engagement_Level           1560    object
Category_Tag_1                       300    object
Category_Tag_2                       300    object
Category_Tag_3                       300    object
Category_Tag_4                       300    object
Category_Tag_5                       300    object

### Question 3 (5 marks)
**Handle missing values**: Choose appropriate imputation strategies for numerical and categorical columns. Explain your method.

In [9]:
# Get columns with missing values
missing_cols = df.columns[df.isnull().sum() > 0]

# Split by data type (only missing value columns)
numcols = df.select_dtypes(include=['float64', 'int64', 'float32', 'int32']).columns.intersection(missing_cols).tolist()
catcols = df.select_dtypes(include=['object']).columns.intersection(missing_cols).tolist()

### Question 4 (5 marks)
**Encode categorical variables** using suitable techniques (Label Encoding, One-Hot Encoding, etc.). Explain when and why you chose the method.

### Question 5 (5 marks)
**Detect and remove outliers** from key numerical features using IQR or Z-score. Show before/after comparisons.

### Question 6 (5 marks)
**Group the dataset** by `Country` and compute the average total spend and number of orders per country. Present it using a sorted table.

### Question 7 (5 marks)
**Create at least 2 new features** derived from existing columns (e.g., `Spend_per_Login`, `Days_Since_Last_Login`). Justify their potential usefulness.

### Question 8 (5 marks)
**Visualize the correlation matrix** for numerical columns using a heatmap. Identify at least two pairs of highly correlated variables and explain their relationship.

### Question 9 (5 marks)
**Plot the distribution** of key numerical features (e.g., `Total_Spend`, `Average_Order_Value`, `Age`). Identify skewness or anomalies.

### Question 10 (5 marks)
**Prepare a clustering-ready version** of the dataset by normalizing/standardizing the features and briefly describe what clustering task could be done.

### Extra
**Save the cleaned and transformed dataset** to a new CSV file named `ecommerce_cleaned.csv`.

In [ ]:
# Save final cleaned dataset
# df.to_csv('ecommerce_cleaned.csv', index=False)